@use "../abstracts" as *;

.services {
    padding: 5rem 0;
    background: $darkGrey;
    text-align: center;

    &__center {
        width: 90vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
        grid-row-gap: 2rem;
        grid-column-gap: 50px;

        & {

            & span {
                display: inline-block;
                color: $primaryColor;
                font-size: 2.5rem;
                margin-bottom: 1.5rem;
            }

            & h6 {
                letter-spacing: $mainSpacing;
                text-transform: capitalize;
            }

            & p {
                width: 80%;
                margin: 0 auto;
            }

        }

    }

}

@include medium-screen {
    .services__center {
        width: 95vw;
        max-width: 1170px;
    }
}

@include lg-screen {
    .services {
        p {
            width: 100%;
        }
    }
}